/* default restting styles */
*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(233, 235, 235);
    color:rgb(63, 60, 60); 
    font-size: 15px;   
}
p{
    text-align: justify;
}
ul{
    margin: 0;
    list-style-type: none;
}
.main-headings{
    width: fit-content;    
    padding:10px 0;
    color:rgb(142, 143, 100);    
}
.main-headings::after{
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: relative;
    top:5px;
    background-color: rgba(223, 222, 172, 0.808);
}
.sub-headings{
    width: fit-content;    
    padding:10px 0;
    color:rgb(142, 143, 100);
}
.scroll-top{
    display: none;
}
.scroll-top a{
    padding:25px 30px;
    position: fixed;
    bottom: 20px;
    right: 8vw;
    background-color: rgba(223, 222, 172, 0.5);
    color:rgb(255, 187, 0);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.scroll-top a:hover{
    background-color: rgba(223, 222, 172);
}
header{      
    background-color: #000;        
}
.top-nav ul li{
    display: inline-block;
    padding:0px 10px;     
}
.top-nav ul li:nth-child(2){
    padding-right: 0px;
}
.top-nav ul li a{
    display: block;
    font-size: 14px;
    padding:4px 0 6px;    
    font-weight: 500;
    color:#ccc;
    text-decoration: none;
}
.top-nav ul li a:hover{
    color:#fff;
}
.search-container{
    position: relative;
    width:200px;  
    margin-top: 5px;   
    margin-bottom: 5px;   
}
.search-container input{
    width:160px;
    border:none;
    border-radius: 30px;
    padding:3px 15px;
    margin-left: auto;
    color:rgb(238, 238, 238);
    background-color: rgba(95, 95, 95);
    transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -ms-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.search-container input::placeholder{
    color:rgb(206, 206, 206)!important;
}
.search-container input:focus{
    width:200px;
    box-shadow: none;
    outline: none;        
}
.search-container button{
    position: absolute;
    top:0px;
    right:0px;
    border:none;
    padding:3px 8px;
    border-radius: 20px;
    background-color: rgb(95, 95, 95);
    outline: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.search-container button i{
    color:#fff;
    vertical-align: middle;
    margin-top: -3px;    
}


.flyer{
    height:130px;
    width:100%;
    box-sizing: border-box;
    padding:5px 15px;
    background: #fdfcc9;
}





/* Navbar styles */
.navbar .nav-link{
    color:rgb(228, 228, 228)!important;    
}
.navbar-nav li.active a{
    color:rgb(247, 233, 195)!important;
}
.dropdown-menu{
    background-color: rgb(83, 83, 83);
    padding:0px;
    border-radius: 0;    
}
.dropdown-item{       
    color:	#ccc;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.dropdown-item:hover{
    background:#fdfdd5;
}
.navbar-toggler{
    outline: none!important;
    box-shadow: none;    
}


.main-content{
    background:#fff;
    border-right:1px solid rgb(231, 231, 231);
}
.banner{
    background: linear-gradient(to right,  rgba(94, 55, 121, 0.2),rgba(129, 148, 21, 0.2)), url('assets/imgs/banner.jpg');
    height:400px;
    width:100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(153, 153, 153);
}
.why-with-us ul{
   margin: 20px 0px;
   list-style-type: none;
   padding-left: 10px;   
}
.why-with-us ul li{
    margin-bottom: 10px;
    font-size: 16px;
}
.why-with-us ul i{
    margin-top: -2px;
    margin-right: 10px;
    vertical-align: middle;
    color: rgb(72, 211, 107);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}



.side-content{
    background:#fff;
}
.side-logo img{
width:180px;
height:250px
}
.side-logo::after{
content: '';
display: block;
position: relative;
top:10px;
width:100%;
height:1px;
background:rgba(169, 180, 21, 0.5);
}

/* key concepts */
.key-concepts ul{
    padding-left:10px;
}
.key-concepts ul li{
    padding:5px 0;
}
.key-concepts ul li a{
    color:rgb(87, 87, 87);
    display: block;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.key-concepts ul li a:hover{
    color:rgb(135, 136, 78);
    transform: translateX(3px);
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
}

.key-concepts ul li::after{
    content: '';
    display: block;
    height:1px;
    width:100%;
    position: relative;
    top:5px;
    background-color: rgb(231, 231, 231);
}

/* footer styles */
.footer-nav-links ul li{
   display: inline-block;
   padding:5px 0px;
      
}
.footer-nav-links ul li a{
    font-size: 14px;
    display: block;
    padding:0 10px;
    border-right:1px solid rgba(221, 221, 221, 0.315);
    text-decoration: none;
    color:#ddd;    
}
.footer-nav-links ul li a:hover{
color:#fff;
}
.footer-nav-links ul li:last-child a{
    border-right: none;
}
footer p{
    font-size: 14px;
    color:#ccc;
}

.social-icons i{
    color: #ccc;
    margin:10px 5px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.social-icons i:hover{
    color: #fdfcc9;
}

/* Editor instruction styles */
ul.editor-conscience{
  padding-left:10px;
  margin-bottom:10px;
}
ul.editor-conscience i{
    margin-right:10px;
    color:rgb(143, 143, 143);
  }

/* Editorial board styles */

.eb-card .profile-img img{
height:20vh;
width:20vh;
}
.eb-card .card-title{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color:rgb(111, 112, 68);
}
.eb-card .author-type{
    font-weight: 600;
}

@media (max-width:380px){
    .flyer img{
        width:95%
    }   
}
@media(min-width:370px){
    .search-container{
        width:250px;
    }
    .search-container input{
        width:200px;
    }
    .search-container input:focus{
        width:250px;
    }
}
@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
    .navbar .nav-link:first-child{
        padding-left: .5rem;
    }
}
@media (min-width: 1200px){
.container{
    max-width:1160px;
}
}
@media (min-width: 1350px){
    .scroll-top a{    
        right:12%;
    }
}